.btn {
    background-color: #bb05ff;
    color: white;
    padding: 1em 2.6em;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    border-radius: 1.9em;
    margin-top: 1.7em;
    
}

.btn:hover {
    color: red;
}