.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    padding-left: 2em;
    height: 80px;

}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    
}

.item {
    margin-right: 2em;
    margin-top: -1.5em;
    
}

.item a {
    color: white;
    text-decoration: none;

}

.item a:hover {
    color: red;

}